<!DOCTYPE html>
<html>
<head>
  <title>Rita Gross</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Rita gross">
    <meta name="description" content="Rita Gross is a creator of cool things that lives on the internet who's based in Minsk, Belarus">
    <meta name="keywords" content="rita ross, vlad, web application, minsk, belarus, commercial photography, editorial photography, freelance photographer">

    <meta name="robots" content="all">
</head>


<%= yield %>


</html>
